/* Basic editor styles */
.tiptap {
  flex: 1;
  padding: 6px 12px 6px 12px;
  > * + * {
    margin-top: 0.75em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: auto;
  }

  ul,
  ol {
    padding: 0 1rem;
  }
}
